<% include partials/head.ejs %>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="steve-container">
<% if(session.user !== undefined || page === "single_match") {%>
  <% if(page === "my_matches") {%>
    <h3>Below are your grudge matches!<h3>
  <%}%>
<% for(var i = result.length - 1; i >= 0; i--) { %>

  <div class="well well-sm match">
    <div class="steve-row">
      <div id="question" class="steve-col"><h3 class="list-title"><%= result[i].question %></h3></div>
    </div>
    <% if(page === "single_match") {%>
    <div class="steve-row">
      <div id="question" class="steve-col"><p>By <%= result[i].name %></p></div>
    </div>
    <div class="steve-row chart-wrapper">
      <% include partials/get-stats.ejs %>
      <div id="chart_div<%=result[i]._id%>" class="chart"></div>
    </div>
    <% } %>
    <div class="steve-row"  id=<%= result[i]._id %>>
      <% for(let x = 0; x < result[i].options.length; x++) { %>
      <div class="btn btn-info btn-round btn-fill steve-col answer-button" onclick="void(0);" style="cursor:pointer;" id="<%=result[i].options[x].answer%>" name="<%=result[i].options[x].answer%>"><%= result[i].options[x].option %></div>
      <%}%>
    </div>
    <div class="steve-row" id=<%= result[i]._id %>>
      <% if(page === "my_matches") {%>
      <div class="deleteMatch btn btn-sm btn-danger btn-round">Delete this match</div>
      <div class="get-stats btn btn-sm btn-sm btn-success btn-round">See Votes</div>
      <div class="edit-match btn btn-sm btn-sm btn-warning btn-round">Edit Match</div>
      <% } %>
      <% include partials/share-buttons.ejs %>
    </div>
  </div>
  <hr>
<%}%>
<% } else { %>
  <div><h2>Sorry! Please <a href="/login">login</a> first to create a new grudge match!</h2></div>
<%}%>
</div>
<% include partials/footer.ejs %>
