
<% include partials/head.ejs %>

<div class="steve-container">
  <div class="match well well-sm">
    <div class="steve-row">
      <div id="question" class="steve-col"><h1><%= result.question %></h1></div>
    </div>
    <div class="steve-row">
      <div id="question" class="steve-col"><p>By <%= result.user %></p></div>
    </div>
    <div class="steve-row">
      <div class="steve-col"><h3><%= result.answer1_votes %></h3></div>
      <div class="steve-col"><h3><%= result.answer2_votes %></h3></div>
    </div>
    <div class="steve-row" id=<%= result._id %>>
      <button class="answer-button steve-col" id="answer1" name="answer1"><%= result.answer1 %></button>
      <button class="answer-button steve-col" id="answer2" name="answer2"><%= result.answer2 %></button>
    </div>
    <div class="steve-row" id=<%= result._id %>>
      <div id='tweetIt' class='btn btn-sm btn-info'>Tweet this!</div>
    </div>
    <div id='tweetText' style="display: none">
      <%= result.question %> Answer here! http://dummy.com:3000/match<%= result._id %>
    </div>
  </div>
  <hr>
  <div class="steve-col btn btn-xs btn-success" onclick="window.location.reload()">New Random Match</div>
</div>

<% include partials/scripts.ejs %>
<script src="vote.js"></script>
<% include partials/footer.ejs %>
